
#nav{
    background-color:rgb(255, 255, 255);
    grid-area: nav;
    text-align: center;
    border-radius:100px ; 
         
    
    
}
#leftmenu{
    
    grid-area: leftmenu;
    height: 800px;
}
#main{
   
    grid-area: main;
    height: 500px;
    color: black;
   
}
#footer{
    background-color:gray;
    grid-area: footer;
    height: 200px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}
#rightmenu{
  
    grid-area: rightmenu;


  
}
#container{
    display:grid;
    grid-template-areas: 
    'nav nav nav nav'
    'leftmenu main main rightmenu'
    'footer footer footer footer'
    ;
    text-align: center;
    color: azure;  
}
.logo{
    width: 100px;
    border-radius: 100px;
}
.navlist{
    list-style: none;
    display: flex;
}
#nav{
    text-align: start;
    display: flex;
    align-items: center;
}
.navlist>li{
    margin-left: 200px ;
    color: rgb(0, 0, 0);
    background-color:rgb(255, 255, 255);
    padding: 15px;
    border-radius: 80px;

}
.navlist>li:hover{
    color: rgb(44, 221, 0);
}
#leftmenu>ul{
    list-style: none;
    padding-inline-start: 0px;
}
#leftmenu>ul>li{
    background-color: burlywood;
    padding: 10px; 
    font-size: 20px;
    margin: 10px;
    border-radius: 40px;

}
#leftmenu>ul>li:hover{
    background-color: lightcoral;
}
#rightmenu>ul{
    list-style: none;
    padding-inline-start: 0px;
}
#rightmenu>ul>li{
    background-color: burlywood;
    padding: 10px; 
    font-size: 20px;
    margin: 10px;
    border-radius: 40px;

}
#rightmenu>ul>li:hover{
    background-color: lightcoral;
    
}
