body{
    background-color: rgb(250, 250, 250);
    
}
a{
    text-decoration: none;
    border-radius: 100px;
    font-size: medium;
}
button{
    border-radius: 30px;
}

p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
}
#nav{
    background-color: rgb(132, 0, 128);
    grid-area: nav;
    text-align: center;
    display:table-row-group;
    
    
}
#leftmenu{
    background-color: rgb(176, 12, 157);
    grid-area: leftmenu;
    height: 800px;
}
#main{
    background-color: rgb(255, 255, 255);
    grid-area: main;
    height: 600px;
    color: black;
   
}
#footer{
    background-color: rgb(132, 0, 128);
    grid-area: footer;
    height: 200px;
}
#rightmenu{
    background-color: rgb(176, 12, 157);
    grid-area: rightmenu;
    display:ruby-text;

  
}
#container{
    display:grid;
    grid-template-areas: 
    'nav nav nav nav'
    'leftmenu main main rightmenu'
    'leftmenu footer footer footer'
    ;
    text-align: center;
    color: azure;
   
   
}